<div class="modal-header">
  <h4 class="modal-title pull-left">Admin-Password</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="onCancel()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="passwordInput"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn">Datenbank-Operation durchführen</button>
    <button type="cancel" (click)="onCancel()" class="btn">Abbrechen</button>
  </div>
</form>
