<div class="filter pointer" (click)="isCollapsed = !isCollapsed">
  <span class="text">{{ title }} </span>
  <span class="icon" [hidden]="!isCollapsed">
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </span>
  <span class="icon" [hidden]="isCollapsed">
    <fa-icon [icon]="faChevronUp"></fa-icon>
  </span>
</div>
<div [collapse]="isCollapsed" class="filterList" [isAnimated]="true">
  <div class="filterItem" *ngFor="let filter of filters">
    <div class="pointer" (click)="toggleFilter(filter.filter)">
      <fa-icon
        [hidden]="isActivated(filter.filter)"
        [icon]="faSquare"
      ></fa-icon>
      <fa-icon
        [hidden]="!isActivated(filter.filter)"
        [icon]="faSquareCheck"
      ></fa-icon>
      <span class="filterName">
        {{ filter.filter.key }}
      </span>
      <span [hidden]="filter.counter === -1">({{ filter.counter }})</span>
    </div>
  </div>
</div>
<div [collapse]="!isCollapsed">
  <div class="filterItem" *ngFor="let filter of activatedFilters">
    <div class="pointer" (click)="toggleFilter(filter)">
      <fa-icon [icon]="faSquareCheck"></fa-icon>
      <span class="filterName">
        {{ filter.key }}
      </span>
    </div>
  </div>
</div>
