<div class="modal-header">
  <h4 class="modal-title pull-left">Zitiervorschlag</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Sie können dieses Dokument so zitieren:</p>
  <p><span [innerHTML]="citation"></span> URL: {{ getUrl() }}</p>
</div>
<div class="modal-footer">
  <button type="cancel" (click)="close()" class="btn">Okay</button>
</div>
