<header>
  <div id="headerMain">
    <div id="topBlueLine"></div>
    <div id="headerLine" routerLink="/" class="pointer">
      <div class="column1">
        <p class="topLine">Franz &amp; Franziska</p>
        <p class="bottomLine">Jägerstätter Edition</p>
      </div>
      <div class="column2">
        <a target="_blank" href="https://ku-linz.at/"
          ><img
            src="assets/images/kpu_logo_blue.png"
            alt="Logo der Katholischen Privat-Universität"
            style="padding: 82px 0 0 264px"
        /></a>
      </div>
    </div>
    <div id="bottomBrownLine"></div>
  </div>
</header>
