target/
*.iml
node_modules/
node/
~*.*
.angular/
.vscode/

workingDir/
static/
dist/
/issue-016/issue-016-backend/lucene/
/issue-016/issue-016-backend/src/main/resources/static/
/issue-016/issue-016-frontend/src/main/frontend/node/
/issue-030-builder/dist/
/backend_dev/registry-webapp/registry-webapp-backend/src/main/resources/static/
/backend_dev/registry/
/backend_dev/docker/dist/
/backend_dev/pdf-generator/src/test/resources/html/sample.pdf
/backend_dev/docker/src/edition/app/app.jar
/backend_dev/docker/src/registry/app/app.jar
/backend_dev/docker/src/preview/app/app.jar
