<div class="modal-header">
  <h4 class="modal-title pull-left">Info</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Hier ist die Meldung:</p>
  <pre class="wrap" [innerHTML]="message"></pre>
</div>
<div class="modal-footer">
  <button type="cancel" (click)="close()" class="btn btn-primary">Okay</button>
</div>
