<div class="mainWholeWidth noPadding d-none d-lg-block">
  <div class="startPageSlider">
    <div class="startPageSliderBackground">
      <div class="left">
        <div class="carpet"></div>
        <div class="gradient"></div>
      </div>
      <div class="center"></div>
      <div class="right"></div>
    </div>
    <div class="startPageSliderOuterDiv">
      <div class="startPageSliderDiv">
        <carousel>
          <slide>
            <img src="assets/sliders/slider1.png" alt="Hochzeitsfoto" />
            <div class="carousel-caption">
              <p class="quote">
                » Wie befindest du dich jetzt im Seelischen, bist noch
                getröstet? «
              </p>
              <p class="info">Franziska Jägerstätter</p>
            </div>
          </slide>
          <slide>
            <img src="assets/sliders/slider2.png" alt="zweites Foto" />
            <div class="carousel-caption">
              <p class="quote" style="font-size: 250%">
                » Der Herrgott wird es schon wissen, wie viel Kraft ich noch
                brauche, um den Stürmen<br />
                dieser Zeit standzuhalten. «
              </p>
              <p class="info">Franz Jägerstätter</p>
            </div>
          </slide>
          <slide>
            <img src="assets/sliders/slider3.png" alt="drittes Foto" />
            <div class="carousel-caption">
              <p class="quote">
                » …es war nicht so leicht, bei meinem Entschluss zu bleiben. «
              </p>
              <p class="info">Franz Jägerstätter</p>
            </div>
          </slide>
          <slide>
            <img src="assets/sliders/slider4.png" alt="noch ein foto" />
            <div class="carousel-caption">
              <p class="quote" style="font-size: 250%">
                » Ich freue mich schon auf ein Wiedersehen im Himmel, wo uns
                kein Krieg mehr trennen kann. «
              </p>
              <p class="info">Franziska Jägerstätter</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
