<div class="mainMainWidth">
  <div class="row">
    <div class="col">
      <h1 class="mainTitle">Ortsregister</h1>
    </div>
  </div>
</div>
<div class="mainWholeWidth">
  <div class="mainMain registry">
    <div class="columnLeft">
      <div class="text-end">
        <button class="btn btn-sm" (click)="revokeConsent()">
          <fa-icon [icon]="faGear"></fa-icon>
        </button>
      </div>
      <div
        *ngIf="consent"
        class="map"
        style="height: 400px; width: 981px"
        leaflet
        [leafletOptions]="options"
        [leafletMarkerCluster]="layers"
        (leafletMapReady)="onMapReady($event)"
      ></div>

      <div class="registryView" *ngIf="placeIndex">
        <app-orts-info [place]="placeIndex.entry"></app-orts-info>
        <app-register-anzeige
          [resources]="placeIndex.resources"
          (viewRegistry)="onViewRegistry($event)"
        ></app-register-anzeige>
      </div>
      <div *ngIf="!placeIndex?.entry">
        <div class="fontsizeAdjustable" [innerHTML]="registryDocContent"></div>
      </div>
    </div>
    <div class="columnRight">
      <div class="filter-form-control">
        <label>Ortssuche</label>
        <input [formControl]="filterStringInput" type="text" />
      </div>
      <div>
        <p>
          OpenStreetMap-Einstellung
          <button (click)="revokeConsent()" class="btn btn-sm">ändern</button>
        </p>
      </div>
      <div *ngIf="viewGroups.length" class="registry-selector">
        <accordion [closeOthers]="true" [isAnimated]="true">
          <accordion-group
            *ngFor="let group of viewGroups; let first = first; let last = last"
            [isOpen]="group.groupName === selectedLetter"
            [heading]="group.groupName"
            [ngClass]="{ first: first, last: last }"
            (isOpenChange)="setSelectedLetter(group.groupName)"
          >
            <div
              class="registryEntryView pointer"
              *ngFor="let entry of group.entries"
              (click)="viewRegistry(entry.key)"
            >
              {{ entry.entryTitle }}
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
