<div class="pagination-bar sticky-2">
  <div class="hits">
    <div class="info">
      Treffer <span [innerHTML]="fromNumber"></span>-<span
        [innerHTML]="toNumber"
      ></span>
      von <span [innerHTML]="totalCount"></span>
    </div>
    <div class="paging">
      <div class="fastPrev">
        <fa-icon (click)="fastPrev()" [icon]="faAngleDoubleLeft"></fa-icon>
      </div>

      <div class="prev">
        <fa-icon (click)="prev()" [icon]="faAngleLeft"></fa-icon>
      </div>

      <div class="pageNumber">
        <input
          type="number"
          [value]="pageNumber + 1"
          [min]="1"
          [max]="maxPageCount"
          (change)="onPageChange($event)"
        />
      </div>

      <div class="next">
        <fa-icon (click)="next()" [icon]="faAngleRight"></fa-icon>
      </div>

      <div class="fastNext">
        <fa-icon (click)="fastNext()" [icon]="faAngleDoubleRight"></fa-icon>
      </div>
    </div>
  </div>
  <div class="sorting">
    <span class="pointer" dropdown>
      <a
        id="sort_dropdown_toggle"
        href
        dropdownToggle
        (click)="(false)"
        aria-controls="basic-sort-dropdown"
        >{{ sortByField.readableName }}</a
      >
      <ul
        *dropdownMenu
        class="dropdown-menu sort-dropdown-menu"
        role="menu"
        aria-labelledby="sort_dropdown_toggle"
      >
        <li *ngFor="let field of sortableFields">
          <a class="dropdown-item" (click)="setSortField(field)">{{
            field.readableName
          }}</a>
        </li>
      </ul>
    </span>
    &nbsp;&nbsp;
    <span [ngClass]="{ active: !sortAsc }">absteigend</span> |
    <span [ngClass]="{ active: sortAsc }">aufsteigend</span>
    <span class="sortIcon pointer" (click)="toggleSort()">
      <fa-icon [icon]="faSort"></fa-icon>
    </span>
  </div>
</div>
